nav{
    background-color:rgb(26,45,57);
    height: 10vh;
    padding-left: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}
.logo{
    font-size: 4rem;
}
.wallet {
    color: #ffffff;
    font-size: 2rem;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgb(14, 32, 46);
    position: absolute;
    left: 50%;
}
.nav-Link{
    display: flex;
    gap: 1.5rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
.nav-Link a{
    color: white;
}
.mobile-links{
    display: none;
}

@media only screen and (width<=600px){
    .nav-Link{
        display: none;
    }
    .wallet{
        left: 50%;
    }
    .mobile-links{
        display: flex;
    }
    .mobile-links button{
        padding: 0.2rem;
        background-color: transparent;
        border: navajowhite;
    }
    .mobile-links button .MenuIcon{
        color: white;
        font-size: 4rem;
    }
    .all-links {
        display: flex;
        padding: 3rem;
        flex-direction: column;
        gap: 5rem;
        font-size: 2.5rem;
        align-items: center;
        height: 100vh;
        justify-content: center;
        background-color: rgb(26, 45, 57);
    }
    .all-links a{
        color: white;
    }
}