nav{
    background-color:rgb(26,45,57);
    height: 10vh;
    padding-left: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}
.logo{
    font-size: 4rem;
}
.wallet{
    color: #ffb600;
    border: 1px solid;
    font-size: 2rem;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.2rem;
    background-color: #151515;
    position: absolute;
    left: 50%;
}
.nav-Link{
    display: flex;
    gap: 1.5rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
.nav-Link a{
    color: white;
}