.register-main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-box{
    border: 2px solid #ffffff78;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    align-items: center;
    gap: 1rem;
    background-color: #ffffff14;
}
.register-box input{
    padding: 0.4rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 6px;
    width: 100%;
}
.register-box button{
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 2px solid #ffffff63;
    background-color: #0f4650;
    color: white;
}
.register-main a{
    padding: 0.7rem;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 2px solid #ffffff63;
    background-color: #0b0b0b;
    color: white;
    margin-top: 2rem;
}
@media only screen and (width<=600px){
    .register-box{
        width: 85%;
    }
}