html{
    font-size: 69%;
}
*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-weight: 100;
}
body{
    background-color: rgb(14,32,46);
    color: white;
    width: 100%;
}
@media only screen and (width<= 600px){
    html{
        font-size: 55%;
    }
}